/* Define the styles for the input with wrong value */
.input-wrong {
    -fx-background-color: #f8d7da;
}

/* Define the styles for the custom button */
.custom-button {
    -fx-background-color: #52BE80; /* Green color */
    -fx-text-fill: white; /* Set the text color */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-cursor: hand; /* Set the cursor to a hand (arrow) shape */
    -fx-transition: scale 0.2s; /* Set the duration of the scaling animation */
}

.custom-button:hover {
    -fx-scale-x: 1.2; /* Apply a horizontal zoom-in effect on hover */
    -fx-scale-y: 1.2; /* Apply a vertical zoom-in effect on hover */
}

.custom-button:pressed {
    -fx-scale-x: 0.9; /* Apply a horizontal zoom-out effect when pressed */
    -fx-scale-y: 0.9; /* Apply a vertical zoom-out effect when pressed */
}

/* Define the styles for the grid pane */
.grid-pane {
    -fx-background-color: #D3D3D3; /* Set the background color */
}

/* Define the styles for the horizontal box */
.hbox {
    -fx-spacing: 10px; /* Set the spacing between elements */
    -fx-padding: 10px; /* Set the padding */
}

/* Define the styles for the checkbox */
.checkbox {
    -fx-margin-left: 15px; /* Set the left margin */
}

/* Define the styles for the regular button */
.button {
    -fx-background-color: #3498DB; /* Set the button background color */
    -fx-text-fill: white; /* Set the text color */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-cursor: hand; /* Set the cursor to a hand (arrow) shape */
    -fx-transition: scale 0.2s; /* Set the duration of the scaling animation */
}

.button:hover {
    -fx-scale-x: 1.2; /* Apply a horizontal zoom-in effect on hover */
    -fx-scale-y: 1.2; /* Apply a vertical zoom-in effect on hover */
}

.button:pressed {
    -fx-scale-x: 0.9; /* Apply a horizontal zoom-out effect when pressed */
    -fx-scale-y: 0.9; /* Apply a vertical zoom-out effect when pressed */
}

/* Define the styles for the table view */
.table-view {
    -fx-pref-width: 802px; /* Set the preferred width */
}

/* Define the styles for the table columns */
.table-column {
    -fx-min-width: -1px; /* Set the minimum width */
    -fx-pref-width: 111px; /* Set the preferred width */
    -fx-max-width: 100px; /* Set the maximum width to 100 pixels */
}
